<h1 id="tableLabel">Transactise</h1>

<p *ngIf="!transactions"><em>Loading...</em></p>

<table class='table table-striped table-bordered' aria-labelledby="tableLabel" *ngIf="transactions" style="font-size:14px">
  <thead>
    <tr>
      <th>Dataum</th>
      <th>Uur</th>
      <th>Station</th>
      <th>Art</th>
      <th>Hoev</th>
      <th>Ehm</th>
      <th>Prijs</th>
      <th>Pompberdrag</th>
      <th>Off_prijs</th>
      <th>Korting</th>
      <th>factnr</th>
      <th>Kltf</th>
      <th>Kltl</th>
      <th>Kaartnummer</th>
      <th>Nummerplaat</th>
      <th>Naam Chauffeur</th>
      <th>Kmstand</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of transactions">
      <td>{{ obj.transaction_date }}</td>
      <td>{{ obj.transaction_time }}</td>
      <td>{{ obj.station }}</td>
      <td>{{ obj.article }}</td>
      <td>{{ obj.quantity }}</td>
      <td>{{ obj.sale_unit }}</td>
      <td>{{ obj.sale_price }}</td>
      <td>{{ obj.sale_total_price }}</td>
      <td>{{ obj.official_price }}</td>
      <td>{{ obj.discount }}</td>
      <td>{{ obj.invoice_number }}</td>
      <td>{{ obj.customer_number_billing }}</td>
      <td>{{ obj.customer_number_delivery }}</td>
      <td>{{ obj.fuel_card }}</td>
      <td>{{ obj.plate_number }}</td>
      <td>{{ obj.driver }}</td>
      <td>{{ obj.mileage }}</td>
    </tr>
  </tbody>
</table>
